* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

article {
  padding: 0.5rem 1.5rem !important;
}
.bookPrev {
  object-fit: cover;
}

.w20p {
  width: calc(20% - 1.5rem); /* 1/5 */
}

.pageEditing {
  min-height: 25rem !important;
  max-height: 25rem !important;
  resize: none;
}

.infoCard {
  height: min-content !important;
}

.logo > a {
  text-decoration: none !important;
}