<footer class="bg-standart p-3 d-flex flex-column gap-2">
  <div class="d-flex justify-content-between align-items-center">
    <nav class="d-flex gap-2">
      <button class="btn btnNav text-lighted d-flex flex-column">
        <div
          class="bg-primary rounded-circle aShadow d-flex justify-content-center align-items-center"
          style="width: 42px; height: 42px"
        >
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.0123 8.49991C18.0123 8.23469 17.9069 7.98034 17.7194 7.7928C17.5319 7.60527 17.2775 7.49991 17.0123 7.49991C16.7471 7.49991 16.4927 7.60527 16.3052 7.7928C16.1176 7.98034 16.0123 8.23469 16.0123 8.49991H18.0123ZM4.01229 8.49991C4.01229 8.23469 3.90693 7.98034 3.71939 7.7928C3.53186 7.60527 3.2775 7.49991 3.01229 7.49991C2.74707 7.49991 2.49272 7.60527 2.30518 7.7928C2.11765 7.98034 2.01229 8.23469 2.01229 8.49991H4.01229ZM18.3053 11.2069C18.4939 11.3891 18.7465 11.4899 19.0087 11.4876C19.2709 11.4853 19.5217 11.3801 19.7071 11.1947C19.8925 11.0093 19.9977 10.7585 20 10.4963C20.0022 10.2341 19.9014 9.98151 19.7193 9.79291L18.3053 11.2069ZM10.0123 1.49991L10.7193 0.792908C10.5318 0.605437 10.2775 0.500122 10.0123 0.500122C9.74712 0.500122 9.49282 0.605437 9.30529 0.792908L10.0123 1.49991ZM0.305288 9.79291C0.209778 9.88516 0.133596 9.9955 0.0811869 10.1175C0.0287779 10.2395 0.00119157 10.3707 3.77567e-05 10.5035C-0.00111606 10.6363 0.0241857 10.768 0.0744666 10.8909C0.124747 11.0138 0.199001 11.1254 0.292893 11.2193C0.386786 11.3132 0.498438 11.3874 0.621334 11.4377C0.74423 11.488 0.87591 11.5133 1.00869 11.5122C1.14147 11.511 1.27269 11.4834 1.39469 11.431C1.5167 11.3786 1.62704 11.3024 1.71929 11.2069L0.305288 9.79291ZM5.01229 20.4999H15.0123V18.4999H5.01229V20.4999ZM18.0123 17.4999V8.49991H16.0123V17.4999H18.0123ZM4.01229 17.4999V8.49991H2.01229V17.4999H4.01229ZM19.7193 9.79291L10.7193 0.792908L9.30529 2.20691L18.3053 11.2069L19.7193 9.79291ZM9.30529 0.792908L0.305288 9.79291L1.71929 11.2069L10.7193 2.20691L9.30529 0.792908ZM15.0123 20.4999C15.8079 20.4999 16.571 20.1838 17.1336 19.6212C17.6962 19.0586 18.0123 18.2956 18.0123 17.4999H16.0123C16.0123 17.7651 15.9069 18.0195 15.7194 18.207C15.5319 18.3946 15.2775 18.4999 15.0123 18.4999V20.4999ZM5.01229 18.4999C4.74707 18.4999 4.49272 18.3946 4.30518 18.207C4.11765 18.0195 4.01229 17.7651 4.01229 17.4999H2.01229C2.01229 18.2956 2.32836 19.0586 2.89097 19.6212C3.45358 20.1838 4.21664 20.4999 5.01229 20.4999V18.4999Z"
              fill="#DEE2E6"
            />
          </svg>
        </div>
        <div>Home</div>
      </button>
      <button class="btn btnNav text-gray-900 d-flex flex-column">
        <div
          class="bg-standart rounded-circle shadow-lg iShadow d-flex justify-content-center align-items-center"
          style="width: 42px; height: 42px"
        >
          <svg
            width="23"
            height="22"
            viewBox="0 0 23 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.4 13.2H12.6C12.9117 13.2 13.1731 13.0944 13.3843 12.8832C13.5955 12.672 13.7007 12.4109 13.7 12.1C13.6993 11.7891 13.5937 11.528 13.3832 11.3168C13.1727 11.1056 12.9117 11 12.6 11H10.4C10.0883 11 9.82726 11.1056 9.61679 11.3168C9.40633 11.528 9.30073 11.7891 9.29999 12.1C9.29926 12.4109 9.40486 12.6724 9.61679 12.8843C9.82873 13.0962 10.0898 13.2015 10.4 13.2ZM10.4 9.89999H17C17.3117 9.89999 17.5731 9.79439 17.7843 9.58319C17.9955 9.37199 18.1007 9.11093 18.1 8.79999C18.0993 8.48906 17.9937 8.22799 17.7832 8.0168C17.5727 7.8056 17.3117 7.7 17 7.7H10.4C10.0883 7.7 9.82726 7.8056 9.61679 8.0168C9.40633 8.22799 9.30073 8.48906 9.29999 8.79999C9.29926 9.11093 9.40486 9.37236 9.61679 9.58429C9.82873 9.79623 10.0898 9.90146 10.4 9.89999ZM10.4 6.6H17C17.3117 6.6 17.5731 6.4944 17.7843 6.2832C17.9955 6.072 18.1007 5.81093 18.1 5.5C18.0993 5.18906 17.9937 4.928 17.7832 4.7168C17.5727 4.5056 17.3117 4.4 17 4.4H10.4C10.0883 4.4 9.82726 4.5056 9.61679 4.7168C9.40633 4.928 9.30073 5.18906 9.29999 5.5C9.29926 5.81093 9.40486 6.07236 9.61679 6.2843C9.82873 6.49623 10.0898 6.60146 10.4 6.6ZM7.1 17.6C6.495 17.6 5.97726 17.3848 5.5468 16.9543C5.11633 16.5238 4.90073 16.0057 4.9 15.4V2.2C4.9 1.595 5.1156 1.07727 5.5468 0.6468C5.978 0.216333 6.49573 0.000733333 7.1 0H20.3C20.905 0 21.4231 0.2156 21.8543 0.6468C22.2855 1.078 22.5007 1.59573 22.5 2.2V15.4C22.5 16.005 22.2847 16.5231 21.8543 16.9543C21.4238 17.3855 20.9057 17.6007 20.3 17.6H7.1ZM7.1 15.4H20.3V2.2H7.1V15.4ZM2.7 22C2.095 22 1.57727 21.7848 1.1468 21.3543C0.716333 20.9238 0.500733 20.4057 0.5 19.8V5.5C0.5 5.18833 0.6056 4.92726 0.8168 4.7168C1.028 4.50633 1.28907 4.40073 1.6 4.4C1.91093 4.39926 2.17237 4.50486 2.3843 4.7168C2.59623 4.92873 2.70147 5.1898 2.7 5.5V19.8H17C17.3117 19.8 17.5731 19.9056 17.7843 20.1168C17.9955 20.328 18.1007 20.5891 18.1 20.9C18.0993 21.2109 17.9937 21.4724 17.7832 21.6843C17.5727 21.8962 17.3117 22.0015 17 22H2.7Z"
              fill="#212529"
            />
          </svg>
        </div>
        <div>Books</div>
      </button>
      <button class="btn btnNav text-gray-900 d-flex flex-column">
        <div
          class="bg-standart rounded-circle shadow-lg iShadow d-flex justify-content-center align-items-center"
          style="width: 42px; height: 42px"
        >
          <svg
            width="22"
            height="22"
            viewBox="0 0 12 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.59002 8.79736C6.69133 9.51543 5.5518 9.86213 4.40547 9.76625C3.25914 9.67038 2.19303 9.13921 1.42611 8.28184C0.659181 7.42446 0.249659 6.30597 0.28165 5.15608C0.313641 4.0062 0.784716 2.9122 1.59812 2.0988C2.41153 1.28539 3.50552 0.814312 4.65541 0.782321C5.8053 0.75033 6.92379 1.15985 7.78117 1.92678C8.63854 2.6937 9.16971 3.75981 9.26558 4.90614C9.36146 6.05247 9.01476 7.192 8.29669 8.09069L11.734 11.5274C11.7831 11.5731 11.8225 11.6283 11.8499 11.6897C11.8772 11.751 11.8919 11.8172 11.8931 11.8843C11.8943 11.9515 11.8819 12.0182 11.8568 12.0804C11.8316 12.1427 11.7942 12.1992 11.7467 12.2467C11.6992 12.2942 11.6427 12.3316 11.5804 12.3568C11.5182 12.3819 11.4515 12.3943 11.3843 12.3931C11.3172 12.3919 11.251 12.3772 11.1897 12.3499C11.1283 12.3225 11.0731 12.2831 11.0274 12.234L7.59002 8.79736ZM2.30669 7.75602C1.81738 7.26667 1.48412 6.64324 1.34903 5.96454C1.21393 5.28583 1.28307 4.58231 1.54769 3.94289C1.81232 3.30347 2.26056 2.75684 2.83576 2.37209C3.41096 1.98734 4.08731 1.78175 4.77933 1.78128C5.47135 1.78081 6.14798 1.9855 6.7237 2.36948C7.29942 2.75345 7.74839 3.29947 8.01388 3.93854C8.27936 4.57761 8.34945 5.28103 8.21526 5.95992C8.08108 6.6388 7.74867 7.26268 7.26002 7.75269L7.25669 7.75602L7.25335 7.75869C6.59675 8.41377 5.70697 8.78144 4.77947 8.78094C3.85196 8.78044 2.96258 8.41181 2.30669 7.75602Z"
              fill="#212529"
            />
          </svg>
        </div>
        <div>Find</div>
      </button>
      <button class="btn btnNav text-gray-900 d-flex flex-column">
        <div
          class="bg-standart rounded-circle shadow-lg iShadow d-flex justify-content-center align-items-center"
          style="width: 42px; height: 42px"
        >
          <svg
            width="18"
            height="22"
            viewBox="0 0 18 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.41957 22C1.85653 22 1.38679 21.8118 1.01035 21.4353C0.633902 21.0589 0.445273 20.5891 0.444458 20.0261V1.97389C0.444458 1.41167 0.633087 0.942333 1.01035 0.565889C1.38761 0.189444 1.85735 0.000814815 2.41957 0H12.0556L17.5556 5.5V20.0261C17.5556 20.5883 17.3673 21.0581 16.9909 21.4353C16.6145 21.8126 16.1443 22.0008 15.5805 22H2.41957ZM11.4445 6.11111V1.22222H2.41957C2.23135 1.22222 2.05861 1.30044 1.90135 1.45689C1.74409 1.61333 1.66587 1.78567 1.66668 1.97389V20.0261C1.66668 20.2135 1.7449 20.3859 1.90135 20.5431C2.05779 20.7004 2.23012 20.7786 2.41835 20.7778H15.5817C15.7691 20.7778 15.9414 20.6996 16.0987 20.5431C16.2559 20.3867 16.3342 20.2139 16.3333 20.0249V6.11111H11.4445Z"
              fill="#212529"
            />
          </svg>
        </div>
        <div>Draft</div>
      </button>
    </nav>
    <h2
      class="border border-top-0 border-bottom-0 border-primary text-primary px-2 border-3 fw-bold"
    >
      Bukie
    </h2>
    <nav class="d-flex gap-2">
      <a class="footerNav text-lighted text-decoration-none">Contact/Author</a>
      <a class="footerNav text-lighted text-decoration-none">About</a>
    </nav>
    </div>
    <div class="text-secondary-standart">
      <p><b>Bukie</b> is the free online platform for open-minded writers and authors. Here everybody may write their own book, story or fan-fiction.</p>
      <p><b>Founded</b> in the summer of 2024.</p>
      <p><b>Auditory</b> is writers in range from 13 to 30 years.</p>
      <p><b>Keywords:</b> bukie, books, fan-fiction, free, writing, youthful, original.</p>
    </div>
</footer>
